<!doctype html>
<html lang="en">

  <head>
    <title>Mini Project</title>
    <link rel='icon' href='static/images/favicon.ico' type='image/x-icon'/ >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">

    <link rel="stylesheet" href="static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="static/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="static/css/style.css">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                  <div class="container">
                      <div class="row align-items-center">
                          <img src="static/images/smit.png" alt="Image" class="img-fluid" style="height: 40px;
                          width: 40px; margin-right: 0.2em;">
                          <p><a href="index.html" class="font-weight-bold">SMIT</a></p>
                      </div>
                    </div>
                
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-block"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-none" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="index.html" class="nav-link">Home</a></li>
                  <li><a href="./#about-the-project" class="nav-link">About</a></li>
                  <li><a href="./#our-topics" class="nav-link">Our Topics</a></li>
                  <li><a href="./#live-demo" class="nav-link">Live Demo</a></li>
                  <li><a href="./#authors" class="nav-link">Authors</a></li>
                  <li><a href="./#acknowledgments" class="nav-link">Acknowledgments</a></li>
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" style="background-image: url('static/images/hero_1.jpg')">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h1 class="mb-4 text-white">Information Extraction using Convolution Neural Network</h1>
              <p class="mb-4">An awesome summary generator for text articles!</p>
              <p><a href="https://github.com/mihirsam/Information-Extraction-using-CNN" class="btn btn-primary btn-outline-white py-3 px-5">GitHub Link</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section" id="about-the-project">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <h2 class="h4 mb-4">About The Project</h2>
            <p>Information Extraction has been one of the important task in Natural Language Processing (NLP). The said task have been accomplished by using sophisticated machine learning algorithms like Nave Bayes. We will try to approach the problem using Convolutional Neural Networks (CNN) with least possible hyper parameter tuning on pre trained word vectors. It is expected that we can reach our goal with considerable results using CNN that will be computationally much efficient than the traditional approaches.</p>
            
          </div>
          <div class="col-md-4">
            <img src="static/images/about_1.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-4">
            
            <h2 class="h4 mb-4">Dependencies and Libraries</h2>
            <div class="container">
              <div class="row align-items-center">
                  <p><a href="https://www.python.org/" class="btn btn-primary text-white px-5" style="margin-right: 1.5em;">Python 3.6</a></p>
                  <p><a href="https://keras.io/" class="btn btn-primary text-white px-5">Keras</a></p>
              </div>
            </div>

            <div class="container">
                <div class="row align-items-center">
                    <p><a href="https://matplotlib.org/" class="btn btn-primary text-white px-5" style="margin-right: 1.2em;">Matplotlib</a></p>
                    <p><a href="https://pypi.org/project/gensim/" class="btn btn-primary text-white px-5">Gensim</a></p>
                </div>
              </div>
              
              <div class="container">
                  <div class="row align-items-center">
                      <p><a href="https://numpy.org/" class="btn btn-primary text-white px-5" style="margin-right: 0.6em;">Numpy</a></p>
                      <p><a href="https://www.tensorflow.org/" class="btn btn-primary text-white px-5">Tensorflow</a></p>
                  </div>
                </div>
            


          </div>
        </div>
      </div>
    </div>

   
 <!-- END .site-section -->

    <div class="site-section" id="our-topics">
        <div class="container">
  
          <div class="row mb-5">
            <div class="col-md-7 mx-auto text-center">
              <h2 class="heading-29190">Our Topics</h2>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <span ></span>
                <img class="img-fluid" src="static/images/p1.jpg">
                <h2 style="margin-left: 2.5em; margin-top: 1em;">World War 2</h2>
            </div>
  
            <div class="col-md-6 col-lg-4 mb-4">
                <span ></span>
                <img class="img-fluid" src="static/images/p2.jpg">
                <h2 style="margin-left: 2.0em; margin-top: 1em;">Sourav Gaungly</h2>
            </div>
  
            <div class="col-md-6 col-lg-4 mb-4">
                <span ></span>
                <img class="img-fluid" src="static/images/p3.jpg">
                <h2 style="margin-left: 2.3em; margin-top: 1em;">Sri Aurobindo</h2>
            </div>

            
          </div>
        </div>
      </div>

      <div class="site-section" id="live-demo">
        <div class="container">

          <div class="row mb-5">
            <div class="col-md-7 mx-auto text-center">
              <h2 class="heading-29190">Live Demo</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <span ></span>
                <img class="img-fluid" src="">
            </div>
  
            <div class="col-md-6 col-lg-4 mb-4">
                <span ></span>
                <form action = "" method = "post" enctype="multipart/form-data">  
                  <p class="btn btn-primary text-white px-5"><input type="file" name="file"  style="margin: auto"/></p>  
                  <p><input type = "submit" value="Upload" class="btn btn-primary text-white px-5" style="margin-left: 6.0em;"></p> 
                </form>  
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <span ></span>
                <img class="img-fluid" src="">
            </div>

            <center style="width: 100%;">
              <div class="alert alert-warning" style="width: 60%;"><h6><b>Warning!</b> Make Sure the Input File <em>UTF-8</em> encoded.</div>
              <div class="alert alert-info" style="width: 60%;"><h6><b>Info!</b> Topic for Live Demo is World War 2.</div>
              <div class="alert alert-info" style="width: 60%;"><h6><b>Info!</b> Average waiting time is upto 2 minutes.</div>
              
            </center>

          </div>
        </div>
      </div>

      <div class="site-section">
        <div class="container">

          <div class="row mb-5">
            <div class="col-md-7 mx-auto text-center">
              <h2 class="heading-29190">Summary</h2>
            </div>
          </div>
  
          <div class="row">
            <h5>{{summary}}</h5>
          </div>
        </div>
      </div>
          
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="fact-39281 d-flex align-items-center">
              <div class="wrap-icon mr-3">
                <span class="icon-smile-o"></span>
              </div>
              <div class="text">
                <span class="d-block">3</span>
                <span>Happy Developer</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="fact-39281 d-flex align-items-center">
              <div class="wrap-icon mr-3">
                <span class="icon-coffee"></span>
              </div>
              <div class="text">
                <span class="d-block">136</span>
                <span>Cup of Coffee</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="fact-39281 d-flex align-items-center">
              <div class="wrap-icon mr-3">
                <span class="icon-desktop_mac"></span>
              </div>
              <div class="text">
                <span class="d-block">216</span>
                <span>Files</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="fact-39281 d-flex align-items-center">
              <div class="wrap-icon mr-3">
                <span class="icon-code"></span>
              </div>
              <div class="text">
                <span class="d-block">1, 658</span>
                <span>Line of Codes</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <div class="site-section bg-light" id="authors">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-7 mx-auto text-center">
            <h2 class="heading-29190">Authors</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            
            <div>
              <div class="person-pic-39219 mb-4">
                <img src="static/images/person_1.jpg" alt="Image" class="img-fluid">
              </div>  
              
              <blockquote class="quote_39823">
                <p>XOXO</p>
              </blockquote>
              <p>&mdash; Mihir</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            
            
            <div>
              <div class="person-pic-39219 mb-4">
                <img src="static/images/person_channi.png" alt="Image" class="img-fluid" height="100px" width="100px">
              </div>  
              <blockquote class="quote_39823">
                <p>She is bright, smart and gives innovative solutions to any problems. She does her work in a specific way, the result of which is always the best of its kind.</p>
              </blockquote>
              <p>&mdash; Chandni Agarwal</p>
            </div>

          </div>
          <div class="col-lg-4 col-md-6">
            
            <div>
              <div class="person-pic-39219">
                <img src="static/images/person_3.jpg" alt="Image" class="img-fluid">
              </div>  
              <blockquote class="quote_39823">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas excepturi accusantium non aut perspiciatis nisi magni libero, molestias.</p>
              </blockquote>
              <p>&mdash; Sweta Agarwal</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer" id="acknowledgments">
      <div class="container">

          <div class="row mb-5">
              <div class="col-md-7 mx-auto text-center">
                <h2 class="heading-29190">Acknowledgments</h2>
                <ul style="padding: 0;">
                    <li>I am particularly grateful for the assistance given by <h5><b>Dr. Udit Kumar Chakraborty</b></h5>.</li>
                    <li>Hat tip to anyone whose code was used</li>
                    <li>Icon made by <a href="https://www.flaticon.com">flaticon</a></li>
                    <li>Template made by <a href="https://colorlib.com">colorlib</a></li>
                  </ul>
              </div>
            </div>
          
          
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Made with <i class="icon-heart text-danger" aria-hidden="true"></i> at SMIT.
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/jquery-migrate-3.0.0.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/jquery.waypoints.min.js"></script>
    <script src="static/js/jquery.animateNumber.min.js"></script>
    <script src="static/js/jquery.fancybox.min.js"></script>
    <script src="static/js/jquery.stellar.min.js"></script>
    <script src="static/js/jquery.easing.1.3.js"></script>
    <script src="static/js/bootstrap-datepicker.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <script src="static/js/aos.js"></script>

    <script src="static/js/main.js"></script>

  </body>

</html>

